.pagination {
  display: block;
  margin: 0;
  padding: 0;

  @include clearFloat();

  &, li {
    list-style-type: none;
  }
  li {
    display: block;
    float: left;

    $border-color: rgba(120, 130, 140, 0.13);

    a {
      display: block;
      font-size: 14px;
      min-width: 32px;
      padding: 5px;
      line-height: 20px;
      text-align: center;
      background-color: $white;
      color: $black;
      border: 1px solid $border-color;

      &.page-btn {
        background-color: #0cc2aa;
        color: $white;
        border-color: #0cc2aa;
      }
    }
    &:not(:first-child) {
      a {
        margin-left: -1px;
      }
    }
    &.active {
      a {
        background-color: #0cc2aa;
        color: $white;
        border-color: #0cc2aa;
      }
    }

    &.page-input {
      margin: 0 6px 0 5px;
      input {
        border: 1px solid $border-color;
        border-radius: 0;
        font-size: 14px;
        width: 50px;
        height: 32px;
        padding: 5px 0;
        line-height: 1;
        text-align: center;
      }
    }
  }
}
