@import "mixins";

$modal-color-default: #2e3e4e;
$modal-transition-duration: 300ms;

$baseIndex: $baseIndex+1;

.modal-dimmer {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color $modal-transition-duration ease 0s;
  z-index: $baseIndex;

  &.in {
    background-color: rgba(0, 0, 0, .6);
  }
}

$baseIndex: $baseIndex+1;

.modal {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: $baseIndex;
  opacity: 0;
  transition: opacity $modal-transition-duration ease 0s;

  &.show {
    display: block;
  }

  &.fade.in {
    opacity: 1;

    .modal-dialog {
      transform: translate3d(0, 0, 0);
    }
  }
}

$baseIndex: $baseIndex+1;

.modal-dialog {
  width: 640px;
  min-height: 50px;
  margin: 50px auto;
  padding: 0;
  background-color: $white;
  z-index: $baseIndex;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  transform: translate3d(0, -50px, 0);
  transition: transform $modal-transition-duration ease 0s;

  .modal-header {
    position: relative;
    padding: 1em;
    background-color: $modal-color-default;
    min-height: 32px;
    .title {
      color: #FFF;
      font-weight: 500;
    }
    .close {
      position: absolute;
      display: inline-block;
      width: 32px;
      height: 32px;
      color: rgba(255, 255, 255, .5);
      font-size: 24px;
      text-align: center;
      line-height: 32px;
      top: 50%;
      margin-top: -16px;
      right: 16px;
      cursor: pointer;
      -webkit-transition: color 300ms ease 0s;
      transition: color 300ms ease 0s;
      &:hover {
        color: rgba(255, 255, 255, .8);
      }
    }
  }
  .modal-body {
    padding: 1em;
  }
  .modal-footer {
    padding: 1em;
    border-top: 1px solid rgba(46, 62, 78, 0.38);
  }

}

.modal-open {
  overflow: hidden;
}

@include make-colorful-modals();
