<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Dashboard examples</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/lib/dashboard/dashboard.min.css">
</head>
<body>
  <!-- aside start -->
  <div class="db-aside">
    <div class="navside">
      <div class="nav-brand">
        <h1>Dashboard</h1>
      </div>
      <div class="db-hide-scroll flex">
        <nav class="scroll">
          <ul>
            <li><a href="#"><span class="db-icon"></span><span class="nav-text">Home</span></a></li>
            <li><a href="#"><span class="db-icon"></span><span class="nav-text">按钮(Buttons)</span></a></li>
            <li>
              <a href="#" data-collapse="{target: '#collapse-1'}"><span class="db-icon"></span><span class="nav-text">Level 1</span><span class="db-icon-toggle"></span></a>
              <ul id="collapse-1">
                <li><a href="#"><span class="db-icon"></span><span class="nav-text">Level 2</span></a></li>
                <li>
                  <a href="#" data-collapse="{target: '#collapse-2'}"><span class="db-icon"></span><span class="nav-text">Level 2</span></a>
                  <ul id="collapse-2">
                    <li><a href="#"><span class="db-icon"></span><span class="nav-text">Level 3</span></a></li>
                    <li><a href="#"><span class="db-icon"></span><span class="nav-text">Level 3</span></a></li>
                    <li><a href="#"><span class="db-icon"></span><span class="nav-text">Level 3</span></a></li>
                    <li><a href="#"><span class="db-icon"></span><span class="nav-text">Level 3</span></a></li>
                    <li><a href="#"><span class="db-icon"></span><span class="nav-text">Level 3</span></a></li>
                    <li><a href="#"><span class="db-icon"></span><span class="nav-text">Level 3</span></a></li>
                    <li><a href="#"><span class="db-icon"></span><span class="nav-text">Level 3</span></a></li>
                    <li><a href="#"><span class="db-icon"></span><span class="nav-text">Level 3</span></a></li>
                    <li><a href="#"><span class="db-icon"></span><span class="nav-text">Level 3</span></a></li>
                    <li><a href="#"><span class="db-icon"></span><span class="nav-text">Level 3</span></a></li>
                    <li><a href="#"><span class="db-icon"></span><span class="nav-text">Level 3</span></a></li>
                    <li><a href="#"><span class="db-icon"></span><span class="nav-text">Level 3</span></a></li>
                    <li><a href="#"><span class="db-icon"></span><span class="nav-text">Level 3</span></a></li>
                  </ul>
                </li>
                <li>
                  <a href="#" data-collapse="{target: '#collapse-3'}"><span class="db-icon"></span><span class="nav-text">Level 2</span><span class="db-icon-toggle"></span></a>
                  <ul id="collapse-3">
                    <li><a href="#"><span class="db-icon"></span><span class="nav-text">Level 3</span></a></li>
                    <li><a href="#"><span class="db-icon"></span><span class="nav-text">Level 3</span></a></li>
                    <li><a href="#"><span class="db-icon"></span><span class="nav-text">Level 3</span></a></li>
                    <li><a href="#"><span class="db-icon"></span><span class="nav-text">Level 3</span></a></li>
                    <li><a href="#"><span class="db-icon"></span><span class="nav-text">Level 3</span></a></li>
                    <li><a href="#"><span class="db-icon"></span><span class="nav-text">Level 3</span></a></li>
                    <li><a href="#"><span class="db-icon"></span><span class="nav-text">Level 3</span></a></li>
                    <li><a href="#"><span class="db-icon"></span><span class="nav-text">Level 3</span></a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="nav-footer">
        <nav>
          <ul>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Stars</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!-- aside end -->
  <!-- header start -->
  <div class="db-header">
    <div class="navbar"></div>
  </div>
  <!-- header end -->
  <!-- content start -->
  <div class="db-content" id="app-main"></div>
  <!-- content end -->

  <script src="/app/app.js"></script>
</body>
</html>
