div.db-aside
  div.navside
    div.nav-brand
      h1 Dashboard
    div.db-hide-scroll.flex
      nav.scroll
        ul
          li
            a(href="/")
              span.db-icon
              span.nav-text 首页(Home)
          li
            a(href="/button")
              span.db-icon
              span.nav-text 按钮(Button)
          li
            a(href="/table")
              span.db-icon
              span.nav-text 表格(Table)
          li
            a(href="/panel")
              span.db-icon
              span.nav-text 面板(Panel)
          li
            a(href="/form")
              span.db-icon
              span.nav-text 表单(Form)
          li
            a(href="/grid")
              span.db-icon
              span.nav-text 网格(Grid System)
    div.nav-footer
      nav
        ul
          li
            a(href="/") Trending
            a(href="/") Stars
