.layout-header
  .navbar
    form.grid.form(action="/search")
      fieldset
        .u-sm-4
        .u-sm-4
        .u-sm-4
          input(type="text" placeholder="search everything")
        .u-sm-4
          button.btn.btn-primary(type="submit") Search <i class="fa fa-search"></i>
