@import 'mixins';

$default-panel-color: #CCCCCC;

.panel {
  background: $white;
  margin-bottom: .75rem;
  padding: 0;
  min-height: 1em;
  border: 0;

  .panel-header {
    padding: 1em;
    background-color: $default-panel-color;
    @include clearFloat();
    .tool {
      float: right;
      i {
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 1em;
        }
      }
    }
  }

  .panel-body {
    padding: 1em;
  }

  .panel-footer {
    padding: 1em;
    border-top: 1px solid rgba(120, 130, 140, 0.13);
  }

  &.radius {
    border-radius: 5px;
    overflow: hidden;
  }

  & > table, & > .table-responsive > table {
    margin-bottom: 0;
  }

  & > .panel-body + table {
    border-top: 1px solid rgba(120, 130, 140, 0.13);
  }

  & > .list {
    li:last-child {
      border-bottom: 0;
    }
    li:first-child {
      border-top: 0;
    }
  }
}

@include make-colorful-panels();

.box {
  background: $white;
  margin-bottom: .75rem;
  padding: 0;
}
