@import 'mixins';

$default-panel-color: #CCCCCC;

.#{$namespace}-panel {
  background: $white;
  margin-bottom: 1.5rem;
  padding: 0;

  .panel-header {
    padding: 1em;
    background-color: $default-panel-color;
  }

  .panel-footer {
    padding: 1em;
  }
}

@include make-colorful-panels();

.#{$namespace}-box {
  background: $white;
  margin-bottom: 1.5rem;
  padding: 0;
}
