extends ./layout.jade

block content
  div.db-g.padding
    div.u-sm-4
      div.db-panel
        div.panel-body
          button(type="button").db-btn.db-btn-primary primary 样式
          button(type="button").db-btn.db-btn-secondary secondary 样式
          button(type="button").db-btn.db-btn-success success 样式
          button(type="button").db-btn.db-btn-warning warning 样式
          button(type="button").db-btn.db-btn-danger danger 样式
          button(type="button").db-btn.db-btn-tips tips 样式
          button(type="button").db-btn.db-btn-info info 样式
          button(type="button").db-btn.db-btn-dark dark 样式
          button(type="button").db-btn default 样式
          button(type="button").db-btn.radius radius 样式
          button(type="button").db-btn.db-round round 样式
    div.u-sm-4
      div.db-panel
        div.panel-body
          button(type="button").db-btn.db-btn-d-primary primary 样式
          button(type="button").db-btn.db-btn-d-secondary secondary 样式
          button(type="button").db-btn.db-btn-d-success success 样式
          button(type="button").db-btn.db-btn-d-warning warning 样式
          button(type="button").db-btn.db-btn-d-danger danger 样式
          button(type="button").db-btn.db-btn-d-tips tips 样式
          button(type="button").db-btn.db-btn-d-info info 样式
          button(type="button").db-btn.db-btn-d-dark dark 样式
          button(type="button").db-btn.db-btn-d-dark.radius dark radius 样式
          button(type="button").db-btn.db-btn-d-dark.db-round dark round 样式
    div.u-sm-4
      div.db-panel
        div.panel-body
          button(type="button").db-btn.db-btn-g-primary.radius primary radius 样式
          button(type="button").db-btn.db-btn-g-success success 样式
          button(type="button").db-btn.db-btn-g-secondary.round secondary round 样式
          button(type="button").db-btn.db-btn-g-warning warning 样式
          button(type="button").db-btn.db-btn-g-danger danger 样式
          button(type="button").db-btn.db-btn-g-tips tips 样式
          button(type="button").db-btn.db-btn-g-info info 样式
          button(type="button").db-btn.db-btn-g-dark dark 样式
    div.u-sm-4
      div.db-panel
        div.panel-body
          button(type="button").db-btn.db-btn-primary.db-float.radius primary float radius 样式
