extends ./layout.jade

block content
  .grid.padding
    .u-sm-16
       h2 Colorful Buttons
    .u-sm-16
      button(type="button").btn.btn-primary btn-primary
      button(type="button").btn.btn-secondary btn-secondary
      button(type="button").btn.btn-success btn-success
      button(type="button").btn.btn-warning btn-warning
      button(type="button").btn.btn-danger btn-danger
      button(type="button").btn.btn-tips btn-tips
      button(type="button").btn.btn-info btn-info
      button(type="button").btn.btn-dark btn-dark
    .u-sm-16
      h2 Colorful Panels
    .u-sm-4
      .panel.panel-primary
        .panel-header panel-primary
        .panel-body body
        .panel-footer footer
    .u-sm-4
      .panel.panel-secondary
        .panel-header panel-secondary
        .panel-body body
        .panel-footer footer
    .u-sm-4
      .panel.panel-success
        .panel-header panel-success
        .panel-body body
        .panel-footer footer
    .u-sm-4
      .panel.panel-tips
        .panel-header panel-tips
        .panel-body body
        .panel-footer footer
    .u-sm-4
      .panel.panel-info
        .panel-header panel-info
        .panel-body body
        .panel-footer footer
    .u-sm-4
      .panel.panel-danger
        .panel-header panel-danger
        .panel-body body
        .panel-footer footer
    .u-sm-4
      .panel.panel-warning
        .panel-header panel-warning
        .panel-body body
        .panel-footer footer
    .u-sm-4
      .panel.panel-dark
        .panel-header panel-dark
        .panel-body body
        .panel-footer footer
    .u-sm-16
      h2 Colorful text
      p.text-primary primary text
      p.text-secondary secondary text
      p.text-success success text
      p.text-info info text
      p.text-tips tips text
      p.text-dark dark text
      p.text-danger danger text
      p.text-warning warning text
