extends ./layout.jade

block content
  .grid
    .u-sm-4
      .box.padding.margin-top
        form.form(action="/")
          fieldset
            .form-control
              label datepicker
              input(type="text" placeholder="Format: YYYY-MM-DD")#select-date

    .u-sm-4
      .box.padding.margin-top
        h3#selected-date
        .date-picker#date-picker

append script
  script.
    $(function() {
      $('#select-date').datepicker({
        date: '2015-12-20',
        format: 'YYYY-MM-DD'
      });

      $('#date-picker')
        .datepicker({
          date: '2015-12-20',
          format: 'YYYY-MM-DD'
        })
        .on('datechange.datepicker', (event, date) => {
          $('#selected-date').html(`${date.year}-${date.month}-${date.date}`);
        });
    });
