extends ./layout.jade

block content
  .grid
    .u-sm-16
      .box.padding.margin-top
        .btn-group.dropdown
          button.btn(type="button" data-dropdown-trigger).btn.btn-primary Menu <i class="fa fa-caret-down"></i>
          ul.dropdown-menu
            li.title Menu title
            li.separator
            li
              a(href="#") menu 1
            li
              a(href="#") menu 2
            li
              a(href="#") menu 3
            li.separator
            li.static static text
        .btn-group.btn-group-primary.dropdown
          button.btn(type="button") Menu
          button.btn.dropdown-trigger(type="button" data-dropdown-trigger)
            i.fa.fa-caret-down
          ul.dropdown-menu
            li.title Menu title
            li.separator
            li
              a(href="#") menu 1
            li
              a(href="#") menu 2
            li
              a(href="#") menu 3
            li.separator
            li.static static text
        .btn-group.btn-group-secondary.dropdown.radius
          button.btn(type="button") Menu
          button.btn.dropdown-trigger(type="button" data-dropdown-trigger)
            i.fa.fa-caret-down
          ul.dropdown-menu
            li.title Menu title
            li.separator
            li
              a(href="#") menu 1
            li
              a(href="#") menu 2
            li
              a(href="#") menu 3
            li.separator
            li.static static text
        .btn-group.dropdown
          button.btn.btn-d-secondary(type="button" data-dropdown-trigger) Menu <i class="fa fa-caret-down"></i>
          ul.dropdown-menu
            li.title Menu title
            li.separator
            li
              a(href="#") menu 1
            li
              a(href="#") menu 2
            li
              a(href="#") menu 3
            li.separator
            li.static static text
