extends ./layout.jade

block content
  .grid
    .u-sm-16
      .box.padding.margin-top
        .dropdown#dropdown
          .btn.btn-primary(data-dropdown-trigger) what is dropdown
          ul.dropdown-menu
            li.title i am title
            li.separator
            li
              a(href="#") menu1
            li
              a(href="#") menu1
            li
              a(href="#") menu1
            li.static static text

append script
  script.
    $('#dropdown').dropdown();
