extends ./layout.jade

block content
  div.db-g.padding
    div.u-sm-8
      form(action="/" class="form")
        fieldset
          div.form-control
            label(for="name") Name
            input(type="text" id="name" placeholder="input your name")
          div.form-control
            label(for="passwrod") Password
            input(type="password" id="password" placeholder="input password")
          div.form-control
            label(for="number") Number
            input(type="number" id="number" placeholder="input number")
          div.form-control
            label(for="email") Email
            input(type="email" id="email" placeholder="input email")
          div.form-control
            label(for="url") URL
            input(type="url" id="url" placeholder="input url")
          div
            label.db-check
              input(type="checkbox" name="check1")
              | <i></i>Option1
            label.db-check
              input(type="checkbox" name="check1")
              | <i></i>Option2
            label.db-check
              input(type="checkbox" name="check1")
              | <i></i>Option3
          div
            label.db-radio
              input(type="radio" name="radio1")
              | <i></i>Option1
            label.db-radio
              input(type="radio" name="radio1")
              | <i></i>Option2
            label.db-radio
              input(type="radio" name="radio1")
              | <i></i>Option3
          div
            label.db-switch
              input(type="checkbox" name="check2")
              | <i></i>A
            label.db-switch
              input(type="checkbox" name="check2")
              | <i></i>B
            label.db-switch
              input(type="checkbox" name="check2")
              | <i></i>C
          div
            label.db-switch
              input(type="radio" name="radio2")
              | <i></i>A1
            label.db-switch
              input(type="radio" name="radio2")
              | <i></i>A2
            label.db-switch
              input(type="radio" name="radio2")
              | <i></i>A3
