extends ./layout.jade

block content
  div.db-g.padding
    div.u-sm-1.grid-example u-sm-1
    div.u-sm-1.grid-example u-sm-1
    div.u-sm-1.grid-example u-sm-1
    div.u-sm-1.grid-example u-sm-1
    div.u-sm-1.grid-example u-sm-1
    div.u-sm-1.grid-example u-sm-1
    div.u-sm-1.grid-example u-sm-1
    div.u-sm-1.grid-example u-sm-1
    div.u-sm-1.grid-example u-sm-1
    div.u-sm-1.grid-example u-sm-1
    div.u-sm-1.grid-example u-sm-1
    div.u-sm-1.grid-example u-sm-1
    div.u-sm-1.grid-example u-sm-1
    div.u-sm-1.grid-example u-sm-1
    div.u-sm-1.grid-example u-sm-1
    div.u-sm-1.grid-example u-sm-1
