extends ./layout.jade

block content
  .grid.grid-example
    .u-lg-1.u-md-4.u-sm-8 u-lg-1 u-md-4 u-sm-8
    .u-lg-1.u-md-4.u-sm-8 u-lg-1 u-md-4 u-sm-8
    .u-lg-1.u-md-4.u-sm-8 u-lg-1 u-md-4 u-sm-8
    .u-lg-1.u-md-4.u-sm-8 u-lg-1 u-md-4 u-sm-8
    .u-lg-1.u-md-4.u-sm-8 u-lg-1 u-md-4 u-sm-8
    .u-lg-1.u-md-4.u-sm-8 u-lg-1 u-md-4 u-sm-8
    .u-lg-1.u-md-4.u-sm-8 u-lg-1 u-md-4 u-sm-8
    .u-lg-1.u-md-4.u-sm-8 u-lg-1 u-md-4 u-sm-8
    .u-lg-1.u-md-4.u-sm-8 u-lg-1 u-md-4 u-sm-8
    .u-lg-1.u-md-4.u-sm-8 u-lg-1 u-md-4 u-sm-8
    .u-lg-1.u-md-4.u-sm-8 u-lg-1 u-md-4 u-sm-8
    .u-lg-1.u-md-4.u-sm-8 u-lg-1 u-md-4 u-sm-8
    .u-lg-1.u-md-4.u-sm-8 u-lg-1 u-md-4 u-sm-8
    .u-lg-1.u-md-4.u-sm-8 u-lg-1 u-md-4 u-sm-8
    .u-lg-1.u-md-4.u-sm-8 u-lg-1 u-md-4 u-sm-8
    .u-lg-1.u-md-4.u-sm-8 u-lg-1 u-md-4 u-sm-8
