extends ./layout.jade

block content
  .grid
    .u-sm-16
      .box.padding.margin-top
        h3 Labels
        p
          span.label.label-primary question
          span.label.label-secondary difficult
          span.label.label-success open
          span.label.label-danger closed
          span.label.label-warning merged
          span.label.label-tips request
          span.label.label-info issue
          span.label.label-dark discuss
          span.label.label-primary
            i.fa.fa-github
          span.label.label-secondary
            i.fa.fa-facebook
        h3 Badges
        p
          span.badge.badge-primary question
          span.badge.badge-secondary difficult
          span.badge.badge-success open
          span.badge.badge-danger closed
          span.badge.badge-warning merged
          span.badge.badge-tips request
          span.badge.badge-info issue
          span.badge.badge-dark discuss
          span.badge.badge-dark
            i.fa.fa-github
          span.badge.badge-secondary
            i.fa.fa-facebook
