extends ./layout.jade

block content
  .grid.padding
    .u-sm-8
      .box.padding
        ul.list.list-static
          li Go <a href="/">Home</a>
          li 1
          li 1
          li 1
          li 1
    .u-sm-8
      .box.padding
        ul.list
          li
            a(href="/") Home
          li
            a(href="/button") Button
          li
            a(href="/panel") Panel
          li
            a(href="/form") Form
          li
            a(href="/table") Table
    .u-sm-8
      .panel.panel-primary
        .panel-header List in panel
        ul.list
          li
            a(href="/") Home
          li
            a(href="/button") Button
          li
            a(href="/panel") Panel
          li
            a(href="/form") Form
          li
            a(href="/table") Table
        .panel-footer footer
    .u-sm-8
      .panel.panel-secondary
        .panel-header List in panel
        ul.list.list-static
          li Go <a href="/">Home</a>
          li This is a static list
          li with static text
          li all links works as normal
          li list has borders
        .panel-footer footer
