extends ./layout.jade

block content
  .grid.padding
    .u-sm-8
      .box.padding
        ul.list.list-static
          li Go <a href="/">Home</a>
          li 1
          li 1
          li 1
          li 1
    .u-sm-8
      .box.padding
        ul.list
          li
            a(href="/") Home
          li
            a(href="/button") Button
          li
            a(href="/panel") Panel
          li
            a(href="/form") Form
          li
            a(href="/table") Table
