extends ./layout.jade

block content
  .grid.margin-top
    .u-sm-16
      p
        button(type="button" data-target="#modal")#trigger.btn.btn-primary.radius.float Open Modal
  .modal#modal
    .modal-dialog
      .modal-header
        .title Modal header
        span.fa.fa-close.close(data-modal-close)
      .modal-body modal body
      .modal-footer.cf
        .fr
          button.btn.radius(type="button") Cancel
          button.btn.btn-dark.radius(type="button") Confirm

append script
  script.
    $('#trigger').click(function(evt) {
      $('#modal')
        .one('db.modal.open', function() {
          console.log('open');
        })
        .one('db.modal.opened', function() {
          console.log('opened');
        })
        .one('db.modal.close', function() {
          console.log('close');
        })
        .one('db.modal.closed', function() {
          console.log('closed');
        })
        .modal('show');
    });
