extends ./layout.jade

block content
  .grid.padding
    .u-sm-8
      .panel.panel-primary.db-radius
        .panel-header panel header
        table.table
          thead
            tr
              th A
              th B
              th C
          tbody
            tr
              td 1
              td 2
              td 3
            tr
              td 1
              td 2
              td 3
        .panel-footer.cf
          ul.pagination.fr
            li
              a(href="#/page=3")
                i.fa.fa-chevron-left
            li
              a(href="#/page=1") 1
            li
              a(href="#/page=2") 2
            li.active
              a(href="#/page=3") 3
            li
              a(href="#/page=4") 4
            li
              a(href="#/page=5") 5
            li
              a(href="#/page=4")
                i.fa.fa-chevron-right

    .u-sm-8
      .panel.panel-secondary
        .panel-header panel header
        table.table
          thead
            tr
              th A
              th B
              th C
          tbody
            tr
              td 1
              td 2
              td 3
            tr
              td 1
              td 2
              td 3
        .panel-footer.cf
          ul.pagination.fl
            li
              a(href="#/page=3")
                i.fa.fa-chevron-left
            li
              a(href="#/page=1") 1
            li
              a(href="#/page=2") 2
            li.active
              a(href="#/page=3") 3
            li
              a(href="#/page=4") 4
            li
              a(href="#/page=5") 5
            li
              a(href="#/page=4")
                i.fa.fa-chevron-right

    .u-sm-8
      .panel.panel-info
        .panel-header panel header
        table.table
          thead
            tr
              th A
              th B
              th C
          tbody
            tr
              td 1
              td 2
              td 3
            tr
              td 1
              td 2
              td 3
        .panel-footer.cf
          ul.pagination.fr
            li
              a(href="#/page=3")
                i.fa.fa-chevron-left
            li
              a(href="#/page=1") 1
            li
              a(href="#/page=2") 2
            li.active
              a(href="#/page=3") 3
            li
              a(href="#/page=4") 4
            li
              a(href="#/page=5") 5
            li
              a(href="#/page=4")
                i.fa.fa-chevron-right

    .u-sm-8
      .panel.panel-tips
        .panel-header Header Title
        .panel-body panel body content
        .panel-footer panel footer

    .u-sm-8
      .box.padding
        h2 box is a simple panel without header or footer
        pre
          code.
            &lt;div class="box"&gt;&lt;/box&gt;

    .u-sm-8
      .panel.panel-success
        .panel-header panel with list
        ul.list
          li 1
          li 1
          li 1
          li 1
          li 1
        .panel-footer panel footer
