extends ./layout.jade

block content
  div.db-g.padding
    div.u-sm-8
      div.db-panel.panel-primary.db-radius
        div.panel-header panel header
        table.table
          thead
            tr
              th A
              th B
              th C
          tbody
            tr
              td 1
              td 2
              td 3
            tr
              td 1
              td 2
              td 3
        div.panel-footer.cf
          ul.pagination.fr
            li
              a(href="#/page=3")
                i.fa.fa-chevron-left
            li
              a(href="#/page=1") 1
            li
              a(href="#/page=2") 2
            li.active
              a(href="#/page=3") 3
            li
              a(href="#/page=4") 4
            li
              a(href="#/page=5") 5
            li
              a(href="#/page=4")
                i.fa.fa-chevron-right

    div.u-sm-8
      div.db-panel.panel-secondary
        div.panel-header panel header
        table.table
          thead
            tr
              th A
              th B
              th C
          tbody
            tr
              td 1
              td 2
              td 3
            tr
              td 1
              td 2
              td 3
        div.panel-footer.cf
          ul.pagination.fl
            li
              a(href="#/page=3")
                i.fa.fa-chevron-left
            li
              a(href="#/page=1") 1
            li
              a(href="#/page=2") 2
            li.active
              a(href="#/page=3") 3
            li
              a(href="#/page=4") 4
            li
              a(href="#/page=5") 5
            li
              a(href="#/page=4")
                i.fa.fa-chevron-right

    div.u-sm-8
      div.db-panel.panel-info
        div.panel-header panel header
        table.table
          thead
            tr
              th A
              th B
              th C
          tbody
            tr
              td 1
              td 2
              td 3
            tr
              td 1
              td 2
              td 3
        div.panel-footer.cf
          ul.pagination.fr
            li
              a(href="#/page=3")
                i.fa.fa-chevron-left
            li
              a(href="#/page=1") 1
            li
              a(href="#/page=2") 2
            li.active
              a(href="#/page=3") 3
            li
              a(href="#/page=4") 4
            li
              a(href="#/page=5") 5
            li
              a(href="#/page=4")
                i.fa.fa-chevron-right

    div.u-sm-8
      div.db-panel.panel-tips
        div.panel-header Header Title
        div.panel-body panel body content
        div.panel-footer panel footer
