extends ./layout.jade

block content
  .grid
    .u-sm-8
      .box.padding.margin-top.scroll-y(style="height:300px;")
        p default scrollbar
        p 2
        p 3
        p 4
        p 5
        p 6
        p 7
        p 8
        p 9
        p 10
        p 11
        p 12
        p 13
        p 14
        p 15
        p 16
        p 17
        p 18
        p 19

    .u-sm-8
      .box.padding.margin-top.scroll-y#scrollbar(style="height:300px;")
        p with .scrollbar
        p 2
        p 3
        p 4
        p 5
        p 6
        p 7
        p 8
        p 9
        p 10
        p 11
        p 12
        p 13
        p 14
        p 15
        p 16
        p 17
        p 18
        p 19

append script
  script.
    $(function() {
      $('#scrollbar').scrollbar();
    });
