extends ./layout.jade

block content
  .gird
    .u-sm-16
      .margin-top
        ul.tab
          li(style="width:25%;")
            a(href="/") Home
          li(style="width:25%;").active
            a(href="/button") Button
          li(style="width:25%;")
            a(href="/form") Form
          li(style="width:25%;")
            a(href="/table") Table
          .indicator(style="width:422.5px;left:422.5px;")
        .tab-content
          .tab-pane conten conten conten

      ul.tab.tab-secondary
          li(style="width:25%;")
            a(href="/") Home
          li(style="width:25%;").active
            a(href="/button") Button
          li(style="width:25%;")
            a(href="/form") Form
          li(style="width:25%;")
            a(href="/table") Table
          .indicator(style="width:422.5px;left:422.5px;")
        .tab-content
          .tab-pane conten conten conten
