extends ./layout.jade

block content
  .gird
    .u-sm-16
      .tab.margin-top#mytab1
        ul.nav
          li
            a(href="javascript:;") Home
          li.active
            a(href="javascript:;") Button
          li
            a(href="javascript:;") Form
          li
            a(href="javascript:;") Table
          .indicator
        .tab-content
          .tab-pane
            p conten conten conten1
          .tab-pane
            p conten conten conten2
            p conten conten conten2
          .tab-pane
            p conten conten conten3
            p conten conten conten3
            p conten conten conten3
            p conten conten conten3
          .tab-pane.active
            p conten conten conten4
            p conten conten conten4
            p conten conten conten4
            p conten conten conten4
            p conten conten conten4

    .u-sm-8
      .tab.tab-secondary#mytab2
        ul.nav
          li
            a(href="javascript:;") Home
          li.active
            a(href="javascript:;") Button
          li
            a(href="javascript:;") Form
          li
            a(href="javascript:;") Table
          .indicator
        .tab-content
          .tab-pane
            p conten conten conten1
          .tab-pane.active
            p conten conten conten2
            p conten conten conten2
          .tab-pane
            p conten conten conten3
            p conten conten conten3
            p conten conten conten3
            p conten conten conten3
          .tab-pane
            p conten conten conten4
            p conten conten conten4
            p conten conten conten4
            p conten conten conten4
            p conten conten conten4

append script
  script.
    $(function() {
      $('#mytab1').tab({ active: 3 });
      $('#mytab2').tab({ active: 1 });
    });
