extends ./layout.jade

block content
  .grid.margin-top
    .u-sm-8
      .box.padding
        h1 h1 Heading 1 <small>Secondary text</small>
        h2 h2 Heading 2 <small>Secondary text</small>
        h3 h3 Heading 3 <small>Secondary text</small>
        h4 h4 Heading 4 <small>Secondary text</small>
        h5 h5 Heading 5 <small>Secondary text</small>
        h6 h6 Heading 6 <small>Secondary text</small>
        p This is a paragraph.
        p This is a paragraph. <strong>strong text</strong> <em>em text</em> <small>small text</small>
        p This is a paragraph. This is a <mark>mark</mark>.
        p <del>This line is deleted.</del>
        p <ins>This line is underlined.</ins>
        p.text-primary primary text
        p.text-secondary secondary text
        p.text-success success text
        p.text-info info text
        p.text-tips tips text
        p.text-dark dark text
        p.text-danger danger text
        p.text-warning warning text
    .u-sm-8
      .box.padding
        .grid
          .u-sm-8
            ul
              li list item 1
              li list item 2
              li list item 3
              li list item 4
              li list item 5
          .u-sm-8
            ol
              li list item 1
              li list item 2
              li list item 3
              li list item 4
              li list item 5
    .u-sm-8
      .box.padding
        dl
          dt title
          dd description
          dt What's this in English
          dd It's a bag.
          dt What's this in English, haha?
          dd It's a bag.It's a bag.It's a bag.It's a bag.It's a bag.It's a bag.It's a bag.It's a bag.It's a bag.It's a bag.It's a bag.
          dt What's this in English
          dd It's a bag.
          dt What's this in English
          dd It's a bag.
          dt What's this in English
          dd It's a bag.
    .u-sm-8
      .box.padding
        pre
          code
            | import Vue from 'vue';
            | import VueRouter from 'vue-router';
            | import routes from './routes';
            | // components
            | import sidebar from 'components/sidebar.vue';
            | Vue.config.debug = true;
            | Vue.use(VueRouter);
            | var router = new VueRouter();
            | let App = Vue.extend({
            |   components: { sidebar },
            |   methods: {
            |     globalClickHandler(event) {
            |       this.$broadcast('dismiss', event);
            |     }
            |   }
            | });
            | router.map(routes);
            | router.start(App, '#app-main');
    .u-sm-16
      .box.padding
        blockquote
          p Where there is a dog, there is a cat.
          cite ——wuzijie
