@import "mixins";

.#{$namespace}-g {
  margin: 0 auto;
  width: 100%;

  &:before, &:after {
    display: table;
    content: ' ';
  }

  &:after {
    clear: both;
  }
}

@include make-grid-columns();
