table {
  border-spacing: 0;
  border-collapse: collapse;
}

th, td {
  text-align: left;
}

.table {
  margin: 0 0 1em 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;

  & > thead > tr > th {
    padding: 10px 16px;
    vertical-align: bottom;
    line-height: 1.5;
    border-top: 1px solid #eceeef;
    border-bottom: 2px solid rgba(120,130,140,.045);
    font-weight: 700;
  }

  & > tbody > tr > td {
    padding: .75rem 16px;
    line-height: 1.5;
    vertical-align: top;
    border-top: 1px solid rgba(120, 130, 140, .045);
  }

  &.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }

  &.table-hover > tbody > tr:hover {
    background-color: rgba(0, 0, 0, .08);
    color: $black;
  }

  &.table-bordered {
    border-bottom: 1px solid #eceeef;
    border-right: 1px solid #eceeef;
    & > thead > tr > th {
      border-left: 1px solid #eceeef;
    }
    & > tbody > tr > td {
      border-left: 1px solid #eceeef;
    }
  }

}

.table-stick {
  position: relative;

  .table-stick-header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-y: scroll;

    .table-stick-table {
      display: table;
      width: 100%;
    }

    .table-stick-row {
      display: table-row;
    }

    .table-stick-cell {
      display: table-cell;
      padding: 10px 16px;
      vertical-align: bottom;
      line-height: 1.5;
      border-top: 1px solid #eceeef;
      border-bottom: 2px solid rgba(120,130,140,.045);
      font-weight: 700;
    }

    .table-stick-table.table-bordered {
      border-right: 1px solid #eceeef;
      .table-stick-cell {
        border-left: 1px solid #eceeef;
      }
    }
  }

  .table-stick-body {
    padding-top: 44px;
    overflow-y: scroll;
    table {
      margin-bottom: 0;
    }
  }
}
