table {
  border-spacing: 0;
  border-collapse: collapse;
}

th, td {
  text-align: left;
}

.table {
  margin: 0 0 1em 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;

  > thead > tr > th {
    padding: 10px 16px;
    vertical-align: bottom;
    line-height: 1.5;
    font-weight: 700;
    border-bottom: 2px solid #eceeef;
  }

  > tbody > tr > td {
    padding: .75rem 16px;
    line-height: 1.5;
    vertical-align: top;
    border-top: 1px solid #eceeef;
  }

  &.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #eceeef;
  }

  &.table-hover {
    > tbody > tr:hover td {
      background-color: #eceeef;
      color: $black;
    }
    &.table-bordered > tbody > tr:hover td:not(:first-child) {
      border-left-color: #CCC;
    }
  }

  &.table-bordered {
    border: 1px solid #eceeef;
    > thead > tr > th:not(:first-child) {
      border-left: 1px solid #eceeef;
    }
    & > tbody > tr > td:not(:first-child) {
      border-left: 1px solid #eceeef;
    }
  }

}

// responsive table wrapper
.table-responsive {
  width: 100%;
  min-height: 0.1%;
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid #eceeef;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  .table>thead>tr>th {
    white-space: nowrap;
  }
  .table-bordered {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
  }
  .panel > & {
    border: 0;
  }
  .panel > .panel-body + & {
    border-top: 1px solid rgba(120, 130, 140, 0.13);
  }
}
