<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Dashboard vue.js examples</title>
  <link rel="shortcut icon" href="/favicon.png" type="image/png">
  <link rel="stylesheet" href="/dashboard.min.css">
</head>
<body id="app-main">
  <sidebar></sidebar>
  <div class="db-header">
    <div class="navbar"></div>
  </div>
  <div class="db-content">
    <router-view></router-view>
  </div>
  <script src="/lib/echarts/echarts-all.js"></script>
  <script src="/app/app.js"></script>
</body>
</html>
