<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>&#x1F602; Dashboard-Vue examples</title>
  <link rel="shortcut icon" href="/favicon.png" type="image/png">
  <link rel="stylesheet" href="/dashboard.min.css">
  <link rel="stylesheet" href="/lib/fa/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/lib/highlight/rainbow.css">
</head>
<body id="app-main" v-on:click="globalClickHandler">
  <sidebar></sidebar>
  <div class="layout-header">
    <div class="navbar">
      <form action="/search" class="grid form">
        <fieldset>
          <div class="u-sm-4"></div>
          <div class="u-sm-4"></div>
          <div class="u-sm-4">
            <input type="text" placeholder="search everything">
          </div>
          <div class="u-sm-4">
            <button class="btn btn-primary" type="submit">Search <i class="fa fa-search"></i></button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="layout-content">
    <router-view></router-view>
  </div>
  <script src="/lib/echarts/echarts-all.js"></script>
  <script src="/app/app.js"></script>
</body>
</html>
