@mixin make-colorful-buttons($colors: $flatColors) {
  @each $name, $color in $colors {
    .btn-#{$name} {
      color: $white;
      background-color: $color;

      &:active {
        background-color: darken($color, 5%);
      }
      &.float:active {
        background-color: $color;
      }
    }
  }
}

@mixin make-ghost-buttons($colors: $flatColors) {
  @each $name, $color in $colors {
    .btn-g-#{$name} {
      font-weight: 700;
      color: $color;
      background-color: rgba(0, 0, 0, 0);
      border: 2px solid $color;

      $transition-duration: 300ms;

      -webkit-transition: background-color $transition-duration ease 0s, color $transition-duration ease 0s;
      transition: background-color $transition-duration ease 0s, color $transition-duration ease 0s;
      &:hover {
        color: $white;
        background-color: $color;
      }
      &:active {
        background-color: $color;
      }
    }
  }
}

@mixin make-3d-buttons($colors: $flatColors) {
  @each $name, $color in $colors {
    .btn-d-#{$name} {
      position: relative;
      top: 0;
      color: $white;
      background-color: $color;
      $shadow-color: darken($color, 15%);
      box-shadow: 0 3px 0 0 $shadow-color, 0 2px 5px 0 rgba(0, 0, 0, .5);
      text-shadow: 0 1px 1px rgba(0, 0, 0, .3);

      $transition-duration: 100ms;

      -webkit-transition: box-shadow $transition-duration linear 0s, top $transition-duration linear 0s;
      transition: box-shadow $transition-duration linear 0s, top $transition-duration linear 0s;
      &:active {
        background-color: $color;
        top: 2px;
        box-shadow: 0 1px 0 0 $shadow-color, 0 1px 2px 0 rgba(0, 0, 0, .5);
      }
    }
  }
}

@mixin make-colorful-button-group($colors: $flatColors) {
  @each $name, $color in $colors {
    .btn-group-#{$name} {
      .btn {
        color: $white;
        background-color: $color;
        border-color: darken($color, 5%);

        &:active {
          background-color: darken($color, 5%);
        }
        &.float:active {
          background-color: $color;
        }
      }
    }
  }
}
