$scrollbar-width: 17px;

$border-color: #eceeef;

.data-table {
  display: block;
  width: 100%;
  border: 1px solid $border-color;
  overflow-x: auto;
  border-radius: 5px;

  .table {
    table-layout: fixed;
    margin: 0;
    thead > tr > th, tbody > tr > td, tfoot > tr > td {
      overflow: hidden;
      white-space: nowrap;
      font-size: 14px;
      padding: 5px;
      line-height: 1;
      vertical-align: middle;
      text-overflow: ellipsis;
    }
    tbody > tr:first-child > td {
      border-top: 0;
    }
  }

  .data-table-header {
    min-height: 15px;
    overflow: hidden;
    .data-table-header-box {
      float: left;
      padding-right: $scrollbar-width;
    }
  }

  .data-table-body {
    min-height: 50px;
    overflow: auto;
  }

  .data-table-footer {
    min-height: 15px;
  }

}
