.radius {
  border-radius: 4px;
}

// float left, float right, clear float
.fl {
  float: left;
}

.fr {
  float: right;
}

.cf {
  @include clearFloat();
}

$base-margin-padding-width: .75rem;

.margin {
  margin: $base-margin-padding-width;
}

.padding {
  padding: $base-margin-padding-width;
}

@each $w in (5, 10, 15) {
  .padding-#{$w} {
    padding: #{$w}px;
  }
  .margin-#{$w} {
    margin: #{$w}px;
  }
}

@each $pos in (top, bottom, left, right) {
  .padding-#{$pos} {
    padding-#{$pos}: $base-margin-padding-width;
  }
  .margin-#{$pos} {
    margin-#{$pos}: $base-margin-padding-width;
  }

  @each $w in (5, 10, 15) {
    .padding-#{$pos}-#{$w} {
      padding-#{$pos}: #{$w}px;
    }
    .margin-#{$pos}-#{$w} {
      margin-#{$pos}: #{$w}px;
    }
  }
}

@each $name, $color in $flatColors {
  .text-#{$name} {
    color: $color;
  }
  .bg-#{$name} {
    background-color: lighten(desaturate($color, 15%), 25%) !important;
  }
}

.scroll-y {
  overflow-x: hidden;
  overflow-y: auto !important;
}

.flex {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hide-scrollbar {
  overflow: auto;
  width: auto;
  margin-right: -17px;
  -webkit-overflow-scrolling: touch;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: 700;
}
