.radius {
  border-radius: 5px;
}

// float left, float right, clear float
.fl {
  float: left;
}

.fr {
  float: right;
}

.cf {
  &:before, &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}

.margin {
  margin: 1.5rem;
}

.padding {
  padding: 1.5rem;
}

@each $pos in (top, bottom, left, right) {
  .padding-#{$pos} {
    padding-#{$pos}: 1.5rem;
  }
  .margin-#{$pos} {
    margin-#{$pos}: 1.5rem;
  }
}

@each $name, $color in $flatColors {
  .text-#{$name} {
    color: $color;
  }
}
