.radius {
  border-radius: 5px;
}

// float left, float right, clear float
.fl {
  float: left;
}

.fr {
  float: right;
}

.cf {
  @include clearFloat();
}

.margin {
  margin: .75rem;
}

.padding {
  padding: .75rem;
}

@each $pos in (top, bottom, left, right) {
  .padding-#{$pos} {
    padding-#{$pos}: .75rem;
  }
  .margin-#{$pos} {
    margin-#{$pos}: .75rem;
  }
}

@each $name, $color in $flatColors {
  .text-#{$name} {
    color: $color;
  }
  .bg-#{$name} {
    background-color: lighten(desaturate($color, 15%), 25%) !important;
  }
}

.scroll-y {
  overflow-x: hidden;
  overflow-y: auto !important;
}

.flex {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hide-scrollbar {
  overflow: auto;
  width: auto;
  margin-right: -17px;
  -webkit-overflow-scrolling: touch;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
