*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  display: block;
  margin: 0;
  padding: 0;
}

div, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $blue;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 1.5em;
  margin: .8em 0;
}

h2 {
  font-size: 1.25em;
  margin: .6em 0;
}

h3, h4, h5, h6 {
  font-size: 1em;
  margin: .5em 0;
}

p {
  margin: 0 0 1em;
  padding: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

textarea {
  overflow: auto;
}

button, select {
  text-transform: none;
}

small {
  font-size: 85%;
}

h1, h2, h3, h4, h5, h6 {
  small {
    font-weight: 400;
    font-size: 65%;
  }
}

mark {
  background: #FFEC86;
}

b, strong {
  font-weight: 700;
}
