@import "variables";
@import "mixins";
@import "reset";
@import "grid/grid";
@import "button/button";
@import "layout/aside";
@import "layout/content";
@import "layout/header";
@import "table/table";
@import "table/gridtable";
@import "panel/panel";
@import "pagination/pagination";
@import "modal/modal";
@import "code/code";
@import "form/form";
@import "badge/badge";
@import "list/list";
@import "tab/tab";
@import "dropdown/dropdown";
@import "scrollbar/scrollbar";
@import "plugins/tagsinput";
@import "plugins/datepicker";
@import "helpers";

$bodyBackground: #F0F0F0;

html {
  height: 100%;
  font-size: $rootFontSize;
}

body {
  height: auto;
  min-height: 100%;
  font-size: .875rem;
  font-family: $font-default;
  background-color: $bodyBackground;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
}

dl {
  dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
  }
  dd {
    margin-left: 180px;
  }
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 16px;
  border-left: 5px solid #eee;
}
