@import "variables";
@import "mixins";
@import "reset";
@import "grid/grid";
@import "button/button";
@import "layout/aside";
@import "layout/content";
@import "layout/header";
@import "table/table";
@import "panel/panel";
@import "pagination/pagination";
@import "modal/modal";
@import "code/code";
@import "form/form";
@import "badge/badge";
@import "list/list";
@import "helpers";

$bodyBackground: #F0F0F0;

html {
  height: 100%;
  font-size: $rootFontSize;
}

body {
  height: auto;
  min-height: 100%;
  font-size: .875rem;
  font-family: $font-default;
  background-color: $bodyBackground;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
}
