@import './vars'

*, *:before, *:after
  -webkit-box-sizing border-box
  box-sizing border-box

html, body, div, nav, article, header, footer, aside
  display block
  margin 0
  padding 0

a
  text-decoration none
  color $blue
