@import '../vars'

.{namespace}-header
  position fixed!important
  top 0
  left 0
  right 0
  margin-left 11.25rem
  background $white
  z-index baseIndex+1

  .navbar
    border none
    margin 0
    padding 0 1rem
    flex-shrink 0
    min-height 3.5rem
